<h2 mat-dialog-title>Edit user data</h2>
<mat-dialog-content>
  <form class="edit-form" [formGroup]="editUserForm">
    <mat-form-field color="accent">
      <input #username matInput type="text" type="text" placeholder="New username..." formControlName="username">
      <mat-error *ngIf="editUserForm.controls['username'].hasError('required')">
        Username is required
      </mat-error>
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-stroked-button [mat-dialog-close]="true" [disabled]="editUserForm.invalid"
    (click)="editUser()">Save</button>
  <button mat-stroked-button mat-dialog-close>Close</button>
</mat-dialog-actions>