<div class="user-table">
  <mat-form-field color="accent">
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
  </mat-form-field>
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z4">
    <ng-container matColumnDef="username">
      <th mat-header-cell *matHeaderCellDef> Users </th>
      <td mat-cell *matCellDef="let element"> {{element.username}} </td>
    </ng-container>
    <ng-container matColumnDef="detail" stickyEnd>
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element">
        <button mat-icon-button (click)="goToUserDetail(element?.id)">
          <mat-icon>navigate_next</mat-icon>
        </button></td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <mat-paginator class="mat-elevation-z4" [length]="users.length" [pageSize]="20" color="accent"
    [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>