<div class="heading">
  <h1 class="mat-display-1">Codes</h1>
</div>
<mat-divider></mat-divider>
<div class="submit-code">
  <h1 class="mat-headline">Enter code here.</h1>
  <form>
    <mat-form-field color="accent">
      <input matInput placeholder="Code..." type="text" [formControl]="checkCode">
      <mat-hint align="end">{{checkCode.value?.length || 0}}/13</mat-hint>
      <button *ngIf="checkCode.value" matSuffix mat-icon-button (click)="checkCode.setValue('')">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
    <button mat-raised-button color="primary" class="submit-code-btn" [disabled]="checkCode.invalid"
      (click)="openDialog()">Verify code</button>
  </form>
</div>