mat-form-field {
  width: 100%;
}

.mat-headline {
  margin-bottom: 20px;
}

.submit-code {
  width: 300px;
  margin: 50px auto;
}

.submit-code-btn {
  margin-top: 10px;
  width: 100%;
  height: 40px;
  font-size: 20px;
}

.mat-display-1 {
  margin-left: 80px;
  margin-top: 20px;
  margin-bottom: 20px;
}
