<app-go-back></app-go-back>
<div *ngIf="outletInfo" class="outlet-info">
  <h2 class="mat-headline">Address: {{outletInfo.address}}</h2>
  <h2 class="mat-headline">City: {{outletInfo.city}}</h2>
  <h2 class="mat-headline">Customer: {{outletInfo?.customer?.name}}</h2>
  <mat-divider class="first-divider"></mat-divider>
  <div class="actions">
    <app-edit-outlet [outletInfo]="outletInfo"></app-edit-outlet>
    <app-add-user [outletInfo]="outletInfo"></app-add-user>
    <app-delete-outlet [outletInfo]="outletInfo"></app-delete-outlet>
  </div>
  <mat-divider class="second-divider"></mat-divider>
</div>
<app-user-list [users]="outletInfo.users"></app-user-list>