mat-divider {
  margin-top: 20px;
  margin-right: 80px;
}

.first-divider {
  margin-bottom: 20px;
}

.second-divider {
  margin-bottom: 5px;
}

.outlet-info {
  margin-left: 80px;
  margin-top: 20px;
}

.actions {
  display: flex;
  flex-direction: row;
}
