<button mat-icon-button [matMenuTriggerFor]="themeMenu">
  <mat-icon>format_color_fill</mat-icon>
</button>
<mat-menu #themeMenu="matMenu">
  <button mat-menu-item (click)="toggleBlueTheme()">Fire</button>
  <button mat-menu-item (click)="toggleRedTheme()">Ocean</button>
  <button mat-menu-item (click)="toggleLightTheme()">Cool</button>
</mat-menu>