<div class="heading">
  <h1 class="mat-display-1">Customers</h1>
  <span class="fill-remaining-space"></span>
  <app-add-customer [customers]="customers"></app-add-customer>
</div>
<mat-divider></mat-divider>
<div>
  <app-customer-list [customers]="customers"></app-customer-list>
</div>