<app-go-back></app-go-back>
<div *ngIf="userInfo" class="user-info">
  <h1 class="mat-headline">User: {{userInfo.username}}</h1>
  <h2 class="mat-headline">Outlet: {{userInfo.outlet.address}}</h2>
  <h2 class="mat-headline">City: {{userInfo.outlet.city}}</h2>
  <mat-divider></mat-divider>
  <div class="user-actions">
    <app-edit-user [userInfo]="userInfo"></app-edit-user>
    <app-change-outlet [userInfo]="userInfo" [outlets]="outlets"></app-change-outlet>
    <app-delete-user [userInfo]="userInfo"></app-delete-user>
  </div>
  <mat-divider></mat-divider>
</div>