mat-divider {
  margin-bottom: 20px;
  margin-top: 20px;
}

h2 {
  margin-bottom: 15px;
}

.user-info {
  margin-left: 80px;
  margin-top: 20px;
  margin-right: 80px;
}

.user-actions {
  display: flex;
}
