<mat-dialog-content>
  <h2>Are you sure you want to delete this customer?</h2>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-stroked-button color="warn" [mat-dialog-close]="true" (click)="deleteCustomer()">
    Delete Customer
  </button>
  <button mat-stroked-button mat-dialog-close>Close</button>
</mat-dialog-actions>