<h2 mat-dialog-title>Edit customer data</h2>
<mat-dialog-content>
  <form class="edit-form" [formGroup]="editCustomerForm" (ngSubmit)="editCustomer()">
    <mat-form-field color="accent">
      <input #name matInput type="text" type="text" placeholder="Name..." formControlName="name">
      <mat-error *ngIf="editCustomerForm.controls['name'].hasError('required')">
        Name is required
      </mat-error>
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-stroked-button [disabled]="editCustomerForm.invalid" (click)="editCustomer()">Save</button>
  <button mat-stroked-button mat-dialog-close>Close</button>
</mat-dialog-actions>