<div class="example-container">
  <h1 class="mat-headline">Recent Activity</h1>
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z4">
    <ng-container matColumnDef="icon" sticky>
      <td mat-cell *matCellDef="let element">
        <mat-icon>{{element?.action | icon}}</mat-icon>
      </td>
    </ng-container>
    <ng-container matColumnDef="user">
      <td mat-cell *matCellDef="let element"> {{element.user?.username}} </td>
    </ng-container>
    <ng-container matColumnDef="entity">
      <td mat-cell *matCellDef="let element"> {{element.action | activityAction}} {{element.entityType | entityType}}
      </td>
    </ng-container>
    <ng-container matColumnDef="date">
      <td mat-cell *matCellDef="let element"> {{element.createdOn | date: 'MMM/d/yy, h:mm a'}} </td>
    </ng-container>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <mat-paginator class="mat-elevation-z4" [length]="activity?.length" [pageSize]="10" color="accent"
    [pageSizeOptions]="[10, 20]" showFirstLastButtons></mat-paginator>
</div>