mat-form-field {
  width: 100%;
  margin-bottom: 10px;
}

.helpdesk {
  margin: 50px auto;
  width: 500px;
  padding: 30px;
}

.mat-headline {
  margin-bottom: 20px;
}

.submit-issue-btn {
  margin-top: 10px;
  width: 200px;
  height: 40px;
  font-size: 18px;
}
