<div class="helpdesk mat-elevation-z4">
  <h1 class="mat-headline">Submit an issue.</h1>
  <form [formGroup]="submitIssueForm" (ngSubmit)="submitIssue()">
    <mat-form-field color="accent">
      <input #title matInput placeholder="Title" type="text" formControlName="title">
      <mat-hint align="end">{{title.value?.length || 0}}/35</mat-hint>
      <mat-error *ngIf="submitIssueForm.controls['title'].hasError('required')">
        Title is required
      </mat-error>
      <mat-error *ngIf="submitIssueForm.controls['title'].hasError('minlength')">
        Title must be atleast 5 characters
      </mat-error>
      <mat-error *ngIf="submitIssueForm.controls['title'].hasError('maxlength')">
        Title must be less than 25 characters
      </mat-error>
    </mat-form-field>
    <mat-form-field color="accent">
      <textarea #description matInput [mat-autosize]="true" placeholder="Description" type="text"
        formControlName="description">
      </textarea>
      <mat-hint align="end">{{description.value?.length || 0}}/200</mat-hint>
      <mat-error *ngIf="submitIssueForm.controls['description'].hasError('required')">
        Description is required
      </mat-error>
      <mat-error *ngIf="submitIssueForm.controls['description'].hasError('minlength')">
        Description must be atleast 5 characters
      </mat-error>
      <mat-error *ngIf="submitIssueForm.controls['description'].hasError('maxlength')">
        Description must be less than 200 characters
      </mat-error>
    </mat-form-field>
    <button mat-raised-button color="primary" [disabled]="submitIssueForm.invalid" class="submit-issue-btn">
      Submit issue
    </button>
  </form>
</div>