<div>
  <ngx-charts-bar-vertical [scheme]="colorScheme" [results]="data" [xAxis]="xAxis" [yAxis]="yAxis"
    [showXAxisLabel]="showXAxisLabel" [xAxisLabel]="xAxisLabel" [barPadding]="barPadding" [showGridLines]="showGridLines">
  </ngx-charts-bar-vertical>
</div>