table {
  width: 100%;
}

th {
  font-size: 16px;
}

td {
  font-size: 16px;
}

mat-paginator {
  width: 100%;
}

mat-form-field {
  width: 400px;
  margin-top: 5px;
}

td.mat-column-detail {
  width: 30px;
}

.outlet-table {
  margin-right: 50px;
  margin-left: 50px;
  margin-bottom: 20px;
}