<h2 mat-dialog-title>Change outlet</h2>
<mat-dialog-content>
  <form>
    <mat-form-field>
      <mat-label>Select outlet</mat-label>
      <mat-select [formControl]="outletControl">
        <mat-option *ngFor="let outlet of data.outlets" [value]="outlet.address">
          {{outlet.address}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-stroked-button [mat-dialog-close]="true" [disabled]="outletControl.invalid"
    (click)="changeOutlet()">Save</button>
  <button mat-stroked-button mat-dialog-close>Close</button>
</mat-dialog-actions>