<h2 mat-dialog-title>Add a customer</h2>
<mat-dialog-content>
  <form [formGroup]="addCustomerForm">
    <mat-form-field color="primary">
      <input #name matInput type="text" placeholder="Name..." formControlName="name">
      <mat-error *ngIf="addCustomerForm.controls['name'].hasError('required')">
        Name is required
      </mat-error>
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-stroked-button [disabled]="addCustomerForm.invalid" (click)="addCustomer()">Add</button>
  <button mat-stroked-button mat-dialog-close>Close</button>
</mat-dialog-actions>