table {
  width: 100%;
}

th {
  font-size: 16px;
}

td {
  font-size: 16px;
}

mat-paginator {
  width: 100%;
}

mat-form-field {
  width: 400px;
}

td.mat-column-detail {
  width: 30px;
}

.customer-table {
  margin-right: 80px;
  margin-left: 80px;
  margin-bottom: 20px;
  margin-top: 5px;
}
