<div class="customer-table">
  <mat-form-field color="accent">
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
  </mat-form-field>
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z4" matSort>
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>
    <ng-container matColumnDef="outlets">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Outlets </th>
      <td mat-cell *matCellDef="let element"> {{element?.outlets?.length || 0}} </td>
    </ng-container>
    <ng-container matColumnDef="detail" stickyEnd>
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element">
        <button mat-icon-button (click)="goToCustomerDetail(element.id)">
          <mat-icon>navigate_next</mat-icon>
        </button></td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <mat-paginator class="mat-elevation-z4" [length]="customers.length" [pageSize]="25" color="accent"
    [pageSizeOptions]="[10, 25, 50]" showFirstLastButtons>
  </mat-paginator>
</div>