<div *ngIf="codeInfo">
  <mat-dialog-content *ngIf="codeInfo.status === 'Valid'">
    <h2 class="redeem-title">Code is valid. You win a {{codeInfo?.prize?.prize}}. </h2>
    <h2 class="redeem-title">Would you like to redeem it now?</h2>
  </mat-dialog-content>
  <mat-dialog-content *ngIf="codeInfo.status === 'Redeemed'">
    <h2>Code has already been redeemed. Would you like to report this?</h2>
  </mat-dialog-content>
  <mat-dialog-content *ngIf="codeInfo.status === 'Invalid'">
    <h2 class="redeem-title">Code is invalid.</h2>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button *ngIf="codeInfo.status === 'Valid'" mat-stroked-button [mat-dialog-close]="true" color="accent"
      class="redeem-btn" (click)="redeemCode(codeInfo.value)">Redeem</button>
    <button *ngIf="codeInfo.status === 'Redeemed'" mat-stroked-button [mat-dialog-close]="true" color="accent"
      (click)="reportMultipleRedemptionAttempt()">
      Report
    </button>
    <button mat-stroked-button mat-dialog-close>Close</button>
  </mat-dialog-actions>
</div>