mat-form-field {
  width: 100%;
  margin-top: 10px;
}

.login {
  width: 350px;
  margin: 50px auto;
  padding: 30px;
}

.login-btn {
  margin-top: 20px;
  width: 200px;
  height: 40px;
  font-size: 18px;
}


