<div class="login mat-elevation-z4">
  <h1 class="mat-headline">Login to your account.</h1>
  <form [formGroup]="loginForm" (ngSubmit)="login()">
    <mat-form-field color="accent">
      <input #username matInput minLength="5" placeholder="Username" type="text" formControlName="username">
      <mat-error *ngIf="loginForm.controls['username'].hasError('required')">
        Username is required
      </mat-error>
      <mat-error *ngIf="loginForm.controls['username'].hasError('minlength')">
        Username must be atleast 5 characters
      </mat-error>
    </mat-form-field>
    <br />
    <mat-form-field color="accent">
      <input #password matInput minLength="5" placeholder="Password" type="password" formControlName="password">
      <mat-error *ngIf="loginForm.controls['password'].hasError('required')">
        Password is required
      </mat-error>
      <mat-error *ngIf="loginForm.controls['password'].hasError('minlength')">
        Password must be atleast 5 characters
      </mat-error>
    </mat-form-field>
    <button mat-raised-button color="primary" class="login-btn" [disabled]="loginForm.invalid">
      Login
    </button>
  </form>
</div>