<h2 mat-dialog-title>Add an outlet</h2>
<mat-dialog-content>
  <form [formGroup]="addOutletForm">
    <mat-form-field color="accent">
      <mat-label>Address</mat-label>
      <input #address matInput type="text" placeholder="Address..." formControlName="address">
      <mat-error *ngIf="addOutletForm.controls['address'].hasError('required')">
        Address is required
      </mat-error>
    </mat-form-field>
    <mat-form-field color="accent">
      <mat-label>City</mat-label>
      <input #city matInput type="text" placeholder="City..." formControlName="city">
      <mat-error *ngIf="addOutletForm.controls['city'].hasError('required')">
        City is required
      </mat-error>
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-stroked-button [mat-dialog-close]="true" [disabled]="addOutletForm.invalid" (click)="addOutlet()">Add</button>
  <button mat-stroked-button mat-dialog-close>Close</button>
</mat-dialog-actions>