<h2 mat-dialog-title>Edit outlet data</h2>
<mat-dialog-content>
  <form class="edit-form" [formGroup]="editOutletForm" (ngSubmit)="editOutlet()">
    <mat-form-field color="accent">
      <input #address matInput type="text" type="text" placeholder="Address..." formControlName="address">
      <mat-error *ngIf="editOutletForm.controls['address'].hasError('required')">
        Address is required
      </mat-error>
    </mat-form-field>
    <br>
    <mat-form-field color="accent">
      <input #city matInput type="text" type="text" placeholder="City..." formControlName="city">
      <mat-error *ngIf="editOutletForm.controls['city'].hasError('required')">
        City is required
      </mat-error>
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-stroked-button [mat-dialog-close]="true" [disabled]="editOutletForm.invalid" (click)="editOutlet()">Save</button>
  <button mat-stroked-button mat-dialog-close>Close</button>
</mat-dialog-actions>