mat-divider {
  margin-top: 20px;
}

h3 {
  margin-top: 15px;
}

.customer-info {
  margin-left: 50px;
  margin-top: 20px;
  margin-right: 50px;
}

.customer-actions {
  display: flex;
  flex-direction: row;
}
