<app-go-back></app-go-back>
<div *ngIf="customerInfo" class="customer-info">
  <h2 class="mat-headline">{{customerInfo.name}}</h2>
  <h3 class="mat-headline">Customer since: {{customerInfo.createdOn | date: 'dd/MM/yy'}}</h3>
  <mat-divider></mat-divider>
  <div class="customer-actions">
    <app-add-outlet [customerInfo]="customerInfo"></app-add-outlet>
    <app-edit-customer [customerInfo]="customerInfo"></app-edit-customer>
    <app-delete-customer [customerInfo]="customerInfo"></app-delete-customer>
  </div>
  <mat-divider></mat-divider>
</div>
<app-outlet-list [outlets]="customerInfo.outlets"></app-outlet-list>