.mat-display-1 {
  margin-left: 80px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.content {
  margin-left: 80px;
  margin-right: 80px;
  margin-top: 20px;
  margin-bottom: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(100px, 1fr));
  grid-gap: 1.5rem;
}

.activity {
  margin-left: 80px;
  margin-right: 80px;
  margin-bottom: 20px;
}

.numbers-chart {
  padding-top: 10px;
  padding-left: 10px;
  grid-column: span 4;
  grid-row: span 1;
}

.prize-chart {
  grid-column: span 4;
  grid-row: span 1;
}

.prize-today-chart {
  grid-column: span 4;
  grid-row: span 1;
}

.redemptions-chart {
  padding-left: 20px;
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 10px;
  grid-column: span 3;
  grid-row: span 2;
}

.detailed-redemptions {
  padding-left: 20px;
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 10px;
  grid-column: span 6;
  grid-row: span 2;
}