<div class="heading">
  <h1 class="mat-display-1">Dashboard</h1>
</div>
<mat-divider></mat-divider>
<mat-tab-group mat-align-tabs="center" animationDuration="0ms" color="primary">
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="example-tab-icon">insert_chart</mat-icon>
    </ng-template>
    <div class="content">
      <div class="numbers-chart mat-elevation-z2">
        <app-numbers-card [entityCount]="entityCount"></app-numbers-card>
      </div>
      <div class="prize-chart mat-elevation-z2">
        <app-prize-chart [prizeInfo]="prizeInfo"></app-prize-chart>
      </div>
      <div class="prize-today-chart mat-elevation-z2">
        <app-prize-today-chart [detailedPrizeInfo]="detailedPrizeInfo"></app-prize-today-chart>
      </div>
      <div class="redemptions-chart mat-elevation-z2">
        <app-redemptions-chart [redemptionsToday]="redemptionsToday" [redemptionsThisWeek]="redemptionsThisWeek"
          [redemptionsThisMonth]="redemptionsThisMonth">>
        </app-redemptions-chart>
      </div>
      <div class="detailed-redemptions mat-elevation-z2">
        <app-detailed-redemptions-chart [detailedRedemptionsInfo]="detailedRedemptionsInfo">
        </app-detailed-redemptions-chart>
      </div>
    </div>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="example-tab-icon">list</mat-icon>
    </ng-template>
    <div class="activity">
      <app-activity [activity]="activity"></app-activity>
    </div>
  </mat-tab>
</mat-tab-group>