@import '~@angular/material/theming';

@include mat-core();
$blue-app-primary: mat-palette($mat-indigo, 500);
$blue-app-accent: mat-palette($mat-indigo, 800, 300, 100);
$blue-app-warn: mat-palette($mat-red, A400);
$blue-app-theme: mat-light-theme(
  $blue-app-primary,
  $blue-app-accent,
  $blue-app-warn
);
@include angular-material-theme($blue-app-theme);

$light-app-primary: mat-palette($mat-blue-gray, 600);
$light-app-accent: mat-palette($mat-indigo, 800, 300, 100);
$light-app-warn: mat-palette($mat-red, A400);
$light-app-theme: mat-light-theme(
  $light-app-primary,
  $light-app-accent,
  $light-app-warn
);

$red-app-primary: mat-palette($mat-red, 700);
$red-app-accent: mat-palette($mat-indigo, 800, 300, 100);
$red-app-warn: mat-palette($mat-red, A400);
$red-app-theme: mat-light-theme(
  $red-app-primary,
  $red-app-accent,
  $red-app-warn
);

.blue-theme {
  @include angular-material-theme($blue-app-theme);
}

.red-theme {
  @include angular-material-theme($red-app-theme);
}

.light-theme {
  @include angular-material-theme($light-app-theme);
}
