<mat-nav-list>
  <mat-list-item routerLink="/dashboard" routerLinkActive="active-link">
    <mat-icon mat-list-icon matTooltip="Dashboard">dashboard</mat-icon>
  </mat-list-item>
</mat-nav-list>
<mat-nav-list>
  <mat-list-item routerLink="/customers" routerLinkActive="active-link">
    <mat-icon mat-list-icon matTooltip="Customers">business_center</mat-icon>
  </mat-list-item>
</mat-nav-list>
<mat-nav-list>
  <mat-list-item routerLink="/outlets" routerLinkActive="active-link">
    <mat-icon mat-list-icon matTooltip="Outlets">store</mat-icon>
  </mat-list-item>
</mat-nav-list>
<mat-nav-list>
  <mat-list-item routerLink="/users" routerLinkActive="active-link">
    <mat-icon mat-list-icon matTooltip="Users">account_box</mat-icon>
  </mat-list-item>
</mat-nav-list>