<h2 mat-dialog-title>Add user</h2>
<mat-dialog-content>
  <form [formGroup]="addUserForm" (ngSubmit)="addUser()">
    <mat-form-field color="accent">
      <mat-label>Username</mat-label>
      <input #username matInput type="text" placeholder="Username..." formControlName="username">
      <mat-error *ngIf="addUserForm.controls['username'].hasError('required')">
        Username is required
      </mat-error>
      <mat-error *ngIf="addUserForm.controls['username'].hasError('minlength')">
        Username must be atleast 5 characters
      </mat-error>
      <mat-error *ngIf="addUserForm.controls['username'].hasError('maxlength')">
        Username must be less than 25 characters
      </mat-error>
    </mat-form-field>
    <br>
    <mat-form-field color="accent">
      <mat-label>Password</mat-label>
      <input #password matInput type="password" placeholder="Password..." formControlName="password">
      <mat-error *ngIf="addUserForm.controls['username'].hasError('required')">
        Password is required
      </mat-error>
      <mat-error *ngIf="addUserForm.controls['username'].hasError('minlength')">
        Password must be atleast 5 characters
      </mat-error>
      <mat-error *ngIf="addUserForm.controls['username'].hasError('maxlength')">
        Password must be less than 25 characters
      </mat-error>
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-stroked-button [mat-dialog-close]="true" [disabled]="addUserForm.invalid" (click)="addUser()">Add</button>
  <button mat-stroked-button mat-dialog-close>Close</button>
</mat-dialog-actions>