<mat-dialog-content>
  <h2>Do you really want to delete this user?</h2>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-stroked-button [mat-dialog-close]="true" color="warn" (click)="deleteUser()">
    Delete User
  </button>
  <button mat-stroked-button mat-dialog-close>Close</button>
</mat-dialog-actions>