<div class="heading">
  <h1 class="mat-display-1">Redemptions</h1>
</div>
<mat-divider></mat-divider>
<div class="redemptions-table">
  <mat-form-field color="accent">
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
  </mat-form-field>
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z4" matSort>
    <ng-container matColumnDef="redeemedOn">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Date </th>
      <td mat-cell *matCellDef="let element"> {{element.redeemedOn | date: 'MMM/d/yy, h:mm a'}} </td>
    </ng-container>
    <ng-container matColumnDef="prize">
      <th mat-header-cell *matHeaderCellDef> Prize </th>
      <td mat-cell *matCellDef="let element"> {{element?.code?.prize?.prize}} </td>
    </ng-container>
    <ng-container matColumnDef="customer">
      <th mat-header-cell *matHeaderCellDef> Customer </th>
      <td mat-cell *matCellDef="let element"> {{element?.customer?.name}} </td>
    </ng-container>
    <ng-container matColumnDef="outlet">
      <th mat-header-cell *matHeaderCellDef> Outlet </th>
      <td mat-cell *matCellDef="let element"> {{element?.outlet?.address}} </td>
    </ng-container>
    <ng-container matColumnDef="user">
      <th mat-header-cell *matHeaderCellDef> User </th>
      <td mat-cell *matCellDef="let element"> {{element?.user?.username}} </td>
    </ng-container>
    <ng-container matColumnDef="detail" stickyEnd>
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element">
        <button mat-icon-button (click)="goToUserDetail(element.user.id)">
          <mat-icon>navigate_next</mat-icon>
        </button></td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <mat-paginator class="mat-elevation-z4" [length]="redemptionRecords.length" [pageSize]="25" color="accent"
    [pageSizeOptions]="[10, 25, 50]" showFirstLastButtons>
  </mat-paginator>
</div>