<mat-sidenav-container class="example-container" autosize>
  <mat-sidenav #sidenav mode="side" [(opened)]="opened" class="example-sidenav mat-elevation-z2"
    [fixedInViewport]="true" [fixedTopGap]="0" [fixedBottomGap]="0">
    <div class="nav-content">

      <ng-template [ngIf]="!loggedIn">
        <mat-nav-list>
          <mat-list-item [ngClass]="{'expanded': isExpanded === true}" routerLink="/login"
            routerLinkActive="active-link">
            <mat-icon mat-list-icon matTooltip="Login">exit_to_app</mat-icon>
          </mat-list-item>
        </mat-nav-list>
      </ng-template>
      <ng-template [ngIf]="loggedIn">
        <mat-nav-list *ngIf="role === 'Basic'">
          <mat-list-item routerLink="/codes" routerLinkActive="active-link">
            <mat-icon mat-list-icon matTooltip="Check code">code</mat-icon>
          </mat-list-item>
        </mat-nav-list>
        <mat-nav-list>
          <mat-list-item [ngClass]="{'expanded': isExpanded === true}" routerLink="/redemptions"
            routerLinkActive="active-link">
            <mat-icon mat-list-icon matTooltip="Redemptions">redeem</mat-icon>
          </mat-list-item>
        </mat-nav-list>
        <app-admin *ngIf="role === 'Admin'" [isExpanded]="isExpanded"></app-admin>
        <mat-nav-list>
          <mat-list-item (click)="triggerLogout()">
            <mat-icon mat-list-icon matTooltip="Logout">exit_to_app</mat-icon>
          </mat-list-item>
        </mat-nav-list>
      </ng-template>
    </div>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar class="mat-elevation-z0">
      <span class="fill-remaining-space"></span>
      <app-theme-picker></app-theme-picker>
      <button mat-icon-button (click)="goToHelpdesk()">
        <mat-icon>help_outline</mat-icon>
      </button>
    </mat-toolbar>
    <mat-divider></mat-divider>

    <div *ngIf="isLoading else loaded">
      <app-loading-screen *ngIf="isLoading"></app-loading-screen>
    </div>
    <ng-template #loaded>
      <router-outlet [hidden]="isLoading"></router-outlet>
    </ng-template>
  </mat-sidenav-content>
</mat-sidenav-container>