.active-link {
  color: #9E9E9E !important;
  background: rgba(0, 0, 0, 0) !important;
}

.example-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.example-sidenav {
  position: absolute;
  background: #FAFAFA;
}

.fill-remaining-space {
  flex: 1 1 auto;
}

.menu-toggle {
  margin-left: 12px;
  margin-top: 10px;
}

mat-toolbar {
  background: #FAFAFA;
}
