<div class="user-table">
  <mat-form-field color="accent">
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
  </mat-form-field>
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z4">
    <ng-container matColumnDef="username">
      <th mat-header-cell *matHeaderCellDef> User </th>
      <td mat-cell *matCellDef="let element"> {{element.username}} </td>
    </ng-container>
    <ng-container matColumnDef="outlet">
      <th mat-header-cell *matHeaderCellDef> Outlet </th>
      <td mat-cell *matCellDef="let element"> {{element?.outlet?.address}} </td>
    </ng-container>
    <ng-container matColumnDef="city">
      <th mat-header-cell *matHeaderCellDef> City </th>
      <td mat-cell *matCellDef="let element"> {{element?.outlet?.city}} </td>
    </ng-container>
    <ng-container matColumnDef="customer">
      <th mat-header-cell *matHeaderCellDef> Customer </th>
      <td mat-cell *matCellDef="let element"> {{element?.customer?.name}} </td>
    </ng-container>
    <ng-container matColumnDef="detail" stickyEnd>
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element">
        <button mat-icon-button (click)="goToUserDetail(element.id)">
          <mat-icon>navigate_next</mat-icon>
        </button></td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <mat-paginator class="mat-elevation-z4" [length]="users?.length" [pageSize]="25" color="accent"
    [pageSizeOptions]="[10, 25, 50]" showFirstLastButtons></mat-paginator>
</div>